<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
    <style>
      .active {
        border: 1px solid red;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <!-- 仮想DOM -->
      // 配列(value)
      <ul>
        <li v-for="member in members">{{ member }}</li>
      </ul>
      // 配列(value, index)
      <ul>
        <li v-for="(member, index) in members">{{ index }} : {{ member }}</li>
      </ul>
      // オブジェクト(value)
      <ul>
        <li v-for="value in book">{{ value }}</li>
      </ul>
      // オブジェクト(value,key)
      <ul>
        <li v-for="(value,key) in book">{{value}} : {{ value }}</li>
      </ul>
      // オブジェクト(value, key, index)
      <ul>
        <li v-for="(value,key,index) in book">
          {{ index }} : {{key}} : {{ value }}
        </li>
      </ul>
      // 複数のオブジェクト
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>タイトル</th>
            <th>著者</th>
            <th>URL</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="book in books" :key="book.id">
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.url }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <script>
      let app = new Vue({
        el: "#app",
        data() {
          return {
            members: ["本田", "香川", "長友"],
            book: {
              title: "タイトル",
              author: "著者名",
              url: "https://google.com",
            },
            books: [
              {
                id: 1,
                title: "我輩は猫である",
                author: "夏目漱石",
                url: "https://natsume.com",
              },
              {
                id: 2,
                title: "人間失格",
                author: "太宰治",
                url: "https://dazai.com",
              },
              {
                id: 3,
                title: "金閣寺",
                author: "三島由紀夫",
                url: "https://mishima.com",
              },
            ],
          };
        },
      });
    </script>
  </body>
</html>
